:root {
  --main-color: #00381a;
  --secondary-color: #F6E9B2;
  background-color: var(--secondary-color);
  --page-width: 1920px;
  --page-height: 2850px;
  --shot-video-list-width: 20rem;
}
html {
  max-width: var(--page-width);
}
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  max-width: 10px;
  box-shadow: 0px 0px 10px #c8b0a2 inset;
}
::-webkit-scrollbar-track {
  background-color: #002e16;
}
::-webkit-scrollbar {
  width: 20px;
}
.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
}
.nav-list {
  height: 100px;
  margin: 0 100px 0 100px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-item {
  font-size: 28px;
  font-family: Calibri;
  width: 150px;
  height: 45px;
  text-align: center;
  user-select: none;
}
.nav-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 45px;
  text-decoration: none;
  color: black;
}
.nav-item:hover a {
  border-radius: 30px;
  /* transform: scale(1.1); */
  transition: background-color ease 200ms;
  background-color: black;
  color: white;
}



/* Home Page Styling */
.nav-at-synopsis a{
  color: white;
}
.nav-at-synopsis a:hover{
  color: rgb(255, 232, 170);
}
.nav-at-mtc a{
  color: rgb(3, 81, 0);
}
.nav-at-mtc a:hover{
  color: rgb(0, 181, 36);
}
#home-page-contents{
  height: var(--page-height);
}
#introduction {
  position: relative;
  background-image: url(test-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 47rem;
}
#introduction-content{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}
#trailer {
  min-width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
#trailer video {
  border-radius: 25px;
  margin-bottom: 5rem;
}
#video-introduction {
  width: 30rem;
}
#video-introduction h1 {
  font-family: "Akshar";
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f25524;
}
#video-introduction p {
  font-family: "Playfair Display";
  margin-top: 0;
  font-size: 16px;
}
#synopsis {
  position: relative;
  width: 100%;
  height: 48rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}
#synopsis h2 {
  font-family: "Akshar";
  height: 150px;
  font-size: 128px;
  margin: 0 0 24px 0;
}
#synopsis p {
  width: 680px;
  margin: 0;
  font-family: "Playfair Display";
  font-size: 16px;
}


/* Review Page */
.nav-at-review a{
  color: #CEF17B;
}
#review-page-contents{
  height: 100vh;
  padding-top: 0.1px;
}
#review-title{
  margin: 0 0 0 100px;
  height: 100px;
  line-height: 100px;
}
#image-slider{
  height: 60vh;
  /* margin-top: 2rem; */
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
.image-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 10rem;
  width: calc(var(--img-width) * 5);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-list{
  width: var(--img-width);
  height: var(--img-height);
  display: flex;
  align-items: center;
  padding: 20px;
  perspective: 120px;
  transition: transform ease-in-out;
}

@keyframes slideRight{
  0%{
      transform: translateX(-50%);
  }
  100%{
      transform: translateX(-29%);
      
  }
}
@keyframes slideLeft{
  0%{
      transform: translateX(-50%);
  }
  100%{
      transform: translateX(-71%);
  }
}

.image-container img{
  cursor: pointer;
  border-radius: 20px;
  border: 5px solid black;
  user-select: none;
}
.image-container img:hover{
  transform: translateZ(3px);
}
#curr-image{
  transform: translateZ(15px);
}


/* Watch Page */
#watch-page-contents{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#watch-page-contents video{
  margin-top: 5rem;
  transform: scale(1.7);
}

/* About Page */
#about-page-contents{
  height: 3300px;
  padding: 0.1px;
}
#about-page-contents h1{
  color: var(--main-color);
  font-family: 'Akshar';
  font-weight: 700;
  text-align: center; 
  margin-top: 12rem;
  margin-bottom: 13rem;
  font-size: 96px;
}
#about-cast-and-crew{
  max-height: 70%;
  height: 50%;
  border-radius: 30px;
  padding: 50px 0 50px 0;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
#cast-container-title{
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 32px;
  width: 480px;
  height: fit-content;
  text-align: center;
  color: white;
}
#crew-wrapper{
  margin-top: 5rem;
  width: calc(3*525px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  margin-bottom: 5rem;
}
.crew-details{
  margin-top: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.crew-picture{
  width: 300px;
  height: 200px;
}
.crew-name{
  margin-top: 20px;
  font-family: 'Playfair Display SC Bold';
  color: #F6E9B2;
}
.crew-roles{
  margin-top: 20px;
  width: 60%;
  font-size: 24px;
  font-family: 'Abhaya Libre Regular';
  color: #FCDBC8;
}
#cast-details{
  display: flex;
  width: 90%;
  height: fit-content;
  justify-content: space-between;
}
#cast-content{
  width: 600px;
  color: #FCDBC8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}
#cast-selected-name{
  font-family: 'Abhaya Libre ExtraBold';
  font-size: 48px;
}
#cast-selected-details{
  width: 500px;
  font-family: 'Playfair Display';
  font-size: 16px;
}


/* Shot Page */
#shot-page-contents{
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
#video-player{
  width: calc(100% - 20rem); 
  height: 100%;
  object-fit: fill;
  position: sticky;
}
#shot-video-list{
  width: 20rem;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}
#thumbnail-slider{
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
#thumbnail-container{
  margin-top: 7rem;
  width: 90%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  row-gap: 20px;
}
.thumbnail-image{
  border-radius: 20px;
  width: 280px;
  height: 170px;
}
#thumbnail-container::-webkit-scrollbar-track{
  background-color: var(--secondary-color);
}
#thumbnail-container::-webkit-scrollbar{
  width: 15px;
}
#thumbnail-container::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}

#characters{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 100vh;
  color: #002e16;
}
.wrapper{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.imagebox{
  height: 364px;
  width: 364px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imagebox img{
  height: 50%;
  width: 100%;
}
.imagebox h4{
  font-size: 44px;
}

#characters h1{
  text-decoration: underline;
  font-family: "Akshar";
  font-size: 44px;
  width: 20%;
  margin-left: 80px;
}